services:
  api:
    build: ./
    ports:
      - "80:80"
    depends_on:
      - db
    external_links:
      - db
    extra_hosts:
      - "host.docker.local:host-gateway"
  db:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=management_system
    ports:
      - "3306:3306"
